<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@project-db-campus.smhrd.com:1524:xe"/>
        <property name="username" value="campus_25IS_GA2_p2_4"/>
        <property name="password" value="smhrd4"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/dudu/database/UserMapper.xml"/>
    <mapper resource="com/dudu/database/AdminMapper.xml"/>
    <mapper resource="com/dudu/database/KickboardMapper.xml"/>
    <mapper resource="com/dudu/database/RideMapper.xml"/>
    <mapper resource="com/dudu/database/CSInquiryMapper.xml"/>
  </mappers>
</configuration>